{% extends 'freelance/base.html' %}
{% block title %}
Job application
{%endblock%}
<head>

</head>


{% block body %}
<br><br><br>
	<div class="container form-div" >
    <center>
      <h2>Job Details</h2>
    </center>
		<dl class="row">
			<dt class="col-sm-3">Job Title</dt>
  			<dd class="col-sm-9">{{object.title}}</dd>

  			<dt class="col-sm-3">Posted by</dt>
  			<dd class="col-sm-9">{{object.author}}</dd>

			<dt class="col-sm-3">Desciption</dt>
  			<dd class="col-sm-9">{{object.job_desc}}</dd>

  			<dt class="col-sm-3">Category</dt>
  			<dd class="col-sm-9">{{object.domain}}</dd>


        <dt class="col-sm-3">Application letter</dt>
        <dd class="col-sm-9">
          <textarea class="form-control"></textarea>
        </dd>



  			<dt class="col-sm-3">
  				<input type="number" name="hourly-rate" placeholder="Enter hourly rate" class="form-control">
  			</dt>

  			<dd class="col-sm-9">
  				<button class="btn btn-dark">Apply now</button>
  			</dd>



		</dl>

	</div>




{%endblock%}
