{% extends 'freelance/base.html' %}
{% block title %}
Posted Jobs
{%endblock%}

{% block body %}


<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">Job title</th>
      <th scope="col">Description</th>
      <th scope="col">Category</th>
        <th scope="col">Action</th>

    </tr>
  </thead>
  <tbody>

{% for job in posted_jobs %}
    <tr>
      <td>{{job.title}}</td>
      <td>{{job.job_desc}}</td>
      <td>{{job.domain}}</td>
     <td><button class="btn btn-warning"  >See bids</button></td>

    </tr>
{%endfor%}
  </tbody>
</table>
{%endblock%}